.nav-controls {
	position: fixed;
	top: 50%;
	display: flex;
	overflow: hidden;
	flex-basis: auto;
	width: calc(100% - 2em);
	max-width: calc(1440px - 2em);
}

.nav-controls .previous {
	left: 0;
	display: block;
}

.nav-controls .next {
	right: 0;
	display: block;
	position: absolute;
}
