.nav-controls {
	position: fixed;
	top: 50%;
	display: flex;
	overflow: hidden;
	flex-basis: auto;
	width: calc(100% - 2em);
	max-width: calc(1440px - 2em);
	z-index: 1000;
}

.nav-controls .previous {
	left: 0;
	display: block;
}

.nav-controls .next {
	right: 0;
	display: block;
	position: absolute;
}

.revel .ls_audio {
	height: 40px;
	align-items: flex-start !important;
}

.revel .toc {
	background: #f0f0f0;
	padding: 16px 32px;
	margin: 0 0 32px 0;
}

.revel .toc ol {
	padding: 0;
}
.revel .toc li {
	margin: 0;
	margin-bottom: 2em;
}

.revel .objective p {
	color: #db0020;
	font-size: 1.71429rem;
	line-height: 1.5;
	font-weight: 400;
}

.revel {
	background: none;
}

.revel figure {
	margin-bottom: 2em;
}
.longdesc {
	display: none;
}

.player-container {
	height: 40px;
}

.revel button svg {
	margin-left: 0.5em !important;
}
figure.gadget {
	margin: auto 0;
	border: 1px solid #ccc;
}

figure.gadget h1 {
	margin: auto 1em !important;
}
.revel figure header {
	border-top: 0;
	border-bottom: 1px solid #ccc;
}

iframe {
	border: 0;
	margin-bottom: 1em;
}
.lc_iframeinner iframe {
	max-width: 766px !important;
}
.reference-selected {
	margin-bottom: 200px;
}
@media (max-width: 640px) {
	.bodymatter {
		padding: 2em;
	}
}

.revel-footer, .revel-header {
	left:0;
}
