.nav-controls {
	position: fixed;
	top: 50%;
	display: flex;
	overflow: hidden;
	flex-basis: auto;
	width: calc(100% - 2em);
	max-width: calc(1440px - 2em);
}

.nav-controls .previous {
	left: 0;
	display: block;
}

.nav-controls .next {
	right: 0;
	display: block;
	position: absolute;
}

.revel .ls_audio {
	align-items: flex-start !important;
}

.revel .toc {
	background: #f0f0f0;
	padding: 16px 32px;
	margin: 0 0 32px 0;
}

.revel .toc ol {
	padding: 0;
}
.revel .toc li {
	margin: 0;
	margin-bottom: 2em;
}

.revel .objective p {
	color: #db0020;
	font-size: 1.71429rem;
	line-height: 1.5;
	font-weight: 400;
}

.revel {
	background: none;
}

@media (max-width: 640px) {
	.bodymatter {
		padding: 2em;
	}
}
